{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>This is the admin dashboard</h2>
        </div>
    </div>
{% endblock %}
